$introBlue: hsl(217, 28%, 15%);
$mainBgBlue: hsl(218, 28%, 13%);
$footerBlue: hsl(216, 53%, 9%);
$testimonialsBlue: hsl(219, 30%, 18%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$white: hsl(0, 0%, 100%);
$Raleway: "Raleway", sans-serif;
$OpenSans: "Open Sans", sans-serif;

.wrapperAccess {
  .access {
    //position: absolute;
    color: $white;
    max-width: 40em;
    margin: -120px auto;
    text-align: center;
    padding: 30px 65px;
    background-color: $introBlue;
    border-radius: 15px;
    z-index: 2;
    h1 {
      font-family: $Raleway;
    }
    p {
      max-width: 30em;
      margin: 20px auto;
      font-family: $OpenSans;
    }
    .inputMain {
      display: flex;
      align-items: center;
      text-align: center;
      button {
        margin-top: 0px;
        margin-left: 10px;
      }
      input[type="text"] {
        height: 5vh;
        width: 27vw;
        border-radius: 20px;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .wrapperAccess {
    .access {
      width: 13em;
      padding: 55px;
      text-align: center;
      margin: -100px auto -170px auto;
      h1 {
        font-size: 20px;
        width: 11em;
        margin-top: -15px;
      }
      p {
        width: 13em;
        text-align: center;
        margin-top: -5px;
      }
      .inputMain {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        line-height: 60px;
        input[type="text"] {
          padding: 12px;
          width: 50vw;
        }
        button {
          width: 57vw;
          margin: 0 auto;
        }
      }
    }
  }
}
